.action-area {
    background-color: var(--theme-lighter-red);
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 10px;
    .search-div {
        position: relative;
        .search-icon {
          position: absolute;
          top: 50%;
          left: 5px;
          transform: translateY(-50%);
          svg{
              width: 20px;
              height: 20px;
              vertical-align: sub;
          }
        }
        input {
          border-radius: .375rem;
          padding: 10px 30px;
          &::placeholder {
            color: var(--light-gray);
          }
          &:focus {
            box-shadow: none;
            border: 1px solid var(--theme-red);
          }
        }
    }
    .actions-buttons {
      align-items: center;
      gap: 1rem;
      display: flex;
      span{
          cursor: pointer;
      }
      .filter-box{
        min-width: 600px;
      }
    }
}